.DS_Store
VSI-Bench/
.claude/
__pycache__
__pycache__/
.vscode/
*.pyc
*.blend1
*.blend2
eval/results/
misc
misc/
sandbox/.venv/
sandbox/results/
sandbox/eval_plots/
sandbox/log/
.conda/
.tmp
.vscode/



